body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.wrapper {
  width: 533px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: roboto;
}

#head {
  margin: 15px 0 5px 0;
  display: flex;
}


button {
  width:30px;
  height:30px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  font:18px/27px Roboto,RobotoDraft,Arial,sans-serif;
  color:orange;
  outline:none;
  transition:background-color 300ms;
}

#prev:hover, #next:hover {
  background-color: #f2f2f2;
}

#date-head {
  font-size:1.3em;
  margin-top: 5px;
}

#date-head+div {
  margin-left: auto;
}

table {
    border-collapse: collapse;
}

th {
  font-weight: 100;
  color:#333;
  min-width:55px;
}

th,
td {
  height: 25px;
  width: 5px;
  padding: 10px;
  border:1px solid #dcdcdc;
}

td {
  border-radius: 2px;
  text-align: right;
  transition:opacity 200ms linear;
}

.date-active {
  background-color: #4285f4;
  color:white;
  
}

div#input {
  margin-bottom: 20px;
  display: flex;
  align-items:center;
}

input, select {
  padding: 5px;
  border:1px solid #ddd;
  border-radius:2px;
  margin-right: 3px;
}

input {
  padding: 6px 5px;
  width: 130px;
}

button#submit {
  height: 29px;
  width: 60px;
  border-radius:5px;
  background-color: #888;
  color:#fff;
  transition: background-color 300ms;
}

button#submit:hover {
  background-color: rgb(51, 182, 121);
}